<html>
<link ref="stylesheet" type="text/css" href="/haostagram/static/c2.css">
<body>
<h>head</h>
<br>
profile : {{ uid }}
<br>
{% for i in range(0, 5) %}
{{ loop.index }} profile: i <br>
{% endfor %}



{% filter upper %}
{% for k, v in infos.items() %}
{{ k }}, {{ v }} <br>
{% endfor %}
{% endfilter %}

{% macro render_color(color) %}
    <div>This is color : {{ color }}</div>{{ caller() }}<br>
{% endmacro %}

{% for color in colors %}
    {% call render_color(color) %}
        render_color_demo
    {% endcall %}
{% endfor %}

</body>
</html>